img{
    max-width: 100%;
    max-height: 100%;
}

.test-page{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2px;
    width: 80vh;
    background-color: #ffffff;
}

.title{
    font-size: 24px;
    font-weight: bold;
    

    h1{
        margin: 10px 0;
    }
    h3{
        margin: 10px 0;
    }
}

.test-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question-box{
    margin-bottom: 20px;
    border: 2px solid #000;
    border-radius: 8px;
    padding: 10px;
    height: 38vh;
}

.title-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.answers-box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 85%;
    margin-bottom: 20px;
}

.answers-box.answers-8{
    grid-template-columns: repeat(4, 1fr);
}

.answer-option{
    border-radius: 8px;
    cursor: pointer;
    background-color: #f0f0f0;

    button{
        width: 100%;
        height: 100%;
        border: none;
        background: none;
        font-size: 16px;
        cursor: pointer;
    }
    img {
        width: 90%;
        height: 100%;
    }
}